.container {width: 100%;}

h1{font-size: 2.5em;}

.content{
  position: absolute;
  top: 30%;
  left: 50%;
  height: auto;
  width: 500px;
  background-color: #fff;
  border: 1px solid black;
  padding: 15px;
  z-index: 2;
}

label, .btn {margin-top: 10px;}

#result {display: none;}

.tri_shape1 {
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 200px solid rgba(255,80,0,.8);
  z-index: 1;
}

.tri_shape2 {
  width: 0;
  height: 0;
  border-left: 300px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 200px solid rgba(255,210,0,.8);
  z-index: 1;
}

.tri_shape3 {
  width: 0;
  height: 0;
  border-left: 300px solid rgba(100,210,0,.8);
  border-bottom: 200px solid transparent;
  border-top: 200px solid transparet;
  z-index: 1;
}

.left {
  margin-left: 10%;
}
.middle {
  margin-left: 40%;
}
.right {
  margin-left: 65%;
}
