.container {width: 100%;}

h1 {font-size: 2.5em;}

.content {
  position: absolute;
  top: 30%;
  left: 50%;
  height: auto;
  width: 500px;
  background-color: #fff;
  border: 1px solid black;
  padding: 15px;
  z-index: 2;
}

label, .btn {margin-top: 10px;}

#result {display: none;}

.tri_shape1 {
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 150px solid rgba(255,80,0,.8);
  z-index: 1;
  -webkit-animation: spinZ 5s infinite;
}

.tri_shape2 {
  width: 0;
  height: 0;
  border-left: 300px solid transparent;
  border-right: 250px solid transparent;
  border-bottom: 200px solid rgba(255,210,0,.8);
  -webkit-animation: spinY 30s infinite;
  z-index: 1;
}

.tri_shape3 {
  width: 0;
  height: 0;
  border-left: 360px solid rgba(100,210,0,.8);
  border-bottom: 200px solid transparent;
  border-top: 200px solid transparet;
  -webkit-animation: spinX 14s infinite;
  z-index: 1;
}

.left {margin-left: 10%;}
.middle {margin-left: 40%;}
.right {margin-left: 65%;}

@-webkit-keyframes spinY {
  0% {transform: rotateY(0deg);}
  100% {transform: rotateY(360deg);}
}

@-webkit-keyframes spinX {
  0% {transform: rotateX(0deg);}
  100% {transform: rotateX(360deg);}
}

@-webkit-keyframes spinZ {
  0% {transform: rotateZ(0deg);}
  100% {transform: rotateZ(360deg);}
}
